@model TanejaShoeStore.Models.ShoeCategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Shoes" asp-action="Index" method="get">
    <p>
        <select asp-for="ShoeCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        ModelName: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shoes[0].ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoes[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoes[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoes[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoes[0].Ratings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Shoes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ratings)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
